.heading {
    text-align: center;
}

.form-control {
    text-align: center;
}

.todo-label {
    text-align: center;
}

.navigatetools {
    text-align: center;
}

#done-bar {
    display: block;
    float: right;
}